/*#region*/
/* --------------------------------RESET-------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  overflow: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  font-size: calc(0.4em + 1vmin);
}

body {
  line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------RESET-------------------------------- */
/*#endregion*/
/* --------------------------------APP-------------------------------- */

.App {
  height: 100vh;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  background-image: url(../src/Images/back.jpg);
  background-size: cover;
}

/* --------------------------------APP-------------------------------- */

/* --------------------------------HEADER-------------------------------- */

#mainHeader {
  height: 10vh;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 158, 0.8);
}

header img {
  box-shadow: 0px 0px 15px 12px rgba(0, 0, 158, 0.8);
}

#facebook {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 3.5rem;
  color: white;
  margin: 1.5rem;
}

.fab:hover {
  animation: 0.5s colorChange;
  color: rgba(100, 100, 245, 0.8);
}

#logoLink {
  align-self: center;
  width: 20vw;
  box-shadow: 0px 0px 15px 12px rgba(0, 0, 158, 0.8);
}

nav {
  height: fit-content;
  background-color: rgba(0, 0, 158, 0.8);
  border-radius: 50% 50% 25% 25% / 0% 0% 25% 25%;
}

nav a {
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav a:hover {
  animation: 0.5s colorChange;
  color: rgba(100, 100, 245, 0.8);
}

.largeNav, .smallNav {
  height: fit-content;
}

.visibleLink {
  display: block;
}

.hiddenLink {
  display: none;
}

/* --------------------------------HEADER-------------------------------- */

/* --------------------------------ETUSIVU-------------------------------- */

#mainpage {
  text-align: center;
  overflow: auto;
  height: 73vh;
  display: flex;
}

#mainpageLeft, #mainpageRight {
  height: 100%;
}

#mainpageLeft, #mainpageRight {
  width: 20%;
  display: flex;
}

#mainpageLeft {
  width: 80%;
  justify-content: flex-start;
}

#mainpageRight {
  justify-content: flex-end;
}

.InfoContainer li {
  line-height: 2.5vh;
}

.InfoContainer h5,h4 {
  margin-bottom: 1vh;
  margin-top: 1.5vh;
}

#infoSide {
  margin: auto 0;
  padding: 1vw;
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 158, 0.6);
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 158, 0.3);
  border-radius: 10px 0 0 10px;
}

.mainpageHeader {
  margin: 3vh 0;
  padding: 0 2vw;
  height: 8vh;
  width: fit-content;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 158, 0.6);
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 158, 0.3);
  border-radius: 0 20px 20px 0;
}

.mainpageHeader h1 {
  align-self: center;
}

.boxLinks {
  height: 80%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

/* --------------------------------ETUSIVU-------------------------------- */

/* --------------------------------YRITYS-------------------------------- */

#company {
  text-align: center;
  overflow: auto;
  height: 75vh;
  
}

#companyUpper {
  padding-bottom: 1.2vh;
}

#companyLower {
  margin: 4vh auto;
  padding: 1vw;
  width: 40%;
  height: fit-content;
  background-color: rgba(0, 0, 158, 0.6);
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 158, 0.3);
  border-radius: 10px;
}

.storyContainer {
  padding: 1em;
}

.storyContainer h2, p {
  text-align: left;
  padding: 1vh 2vh;
}

.storyContainer p {
  font-size: calc(0.5em + 1vmin);
  line-height: 2.4vh;
  letter-spacing: 0.2vw;
}

/* --------------------------------YRITYS-------------------------------- */

/* --------------------------------KAHVILA_RAVINTOLA-------------------------------- */

#coffeeRestaurant {
  overflow: auto;
  height: 75vh;
}

#coffeeRestaurantUpper {
  text-align: center;
}

#lunchMain {
  margin: 4vh auto;
  padding: 1vw;
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 158, 0.6);
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 158, 0.3);
  border-radius: 10px;
}

#tblLunchList th, td{
  padding: 2vh;
}

#tblLunchList th {
  text-align: center;
  font-size: calc(1.2em + 1vmin);
}

#tblLunchList td {
  font-size: calc(0.6em + 1vmin);
}

/* --------------------------------KAHVILA_RAVINTOLA-------------------------------- */

/* --------------------------------HUOLTAMO-------------------------------- */

#service {
  text-align: center;
  overflow: auto;
  height: 75vh;
}

/* --------------------------------HUOLTAMO-------------------------------- */

/* --------------------------------PALIKKALA-------------------------------- */

#palikkala {
  text-align: center;
  overflow: auto;
  height: 75vh;
}

/* --------------------------------PALIKKALA-------------------------------- */

/* --------------------------------PALAUTE-------------------------------- */

#contact {
  text-align: center;
  overflow: auto;
  height: 75vh;
}

#contactUpper {
  padding-bottom: 1.2vh;
}

.contactContainer {
  padding: 1em;
}

#contactLower {
  margin: 4vh auto;
  padding: 1vw;
  width: 45vw;
  height: fit-content;
  background-color: rgba(0, 0, 158, 0.6);
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 158, 0.3);
  border-radius: 10px;
}

#formRow {
  display: flex;
  justify-content: center;
}

#textRow p{
  font-size: calc(0.5em + 1vmin);
  line-height: 2.4vh;
  letter-spacing: 0.2vw;
  margin-bottom: 1vh;
}

form {
  display: flex;
  justify-content: center;
}

form textarea {
  width: 20vw;
  height: 30vh;
  padding: 5px;
  line-height: 2.3vh;
  outline: none;
}

form input {
  width: 20vw;
  height: 5vh;
  text-align: center;
  outline: none;
}

form button {
  width: 20vw;
  height: 5vh;
  text-align: center;
  background-color: rgba(0, 0, 158, 0.9);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 10px;
  margin-top: 1.5vh;
  outline: none;
}

form input, textarea {
  margin: 0.5vw;
  outline: none;
  color: white;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 158, 0.9);
  border-radius: 10px;
}

/* --------------------------------PALAUTE-------------------------------- */

/* --------------------------------FOOTER-------------------------------- */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12vh;
  background-color: rgba(0, 0, 158, 0.8);
  border-radius: 50% 50% 0% 0% / 25% 25% 0% 0%;
  box-shadow: 0px -8px 5px 0px rgba(0, 0, 158, 0.3);
  
}

#footerWrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
}

.largeFooter {
  animation: 1s heightUp;
  height: 31vh;
}

.smallFooter {
  animation: 1s heightDown;
  height: 12vh;
}

footer section {
  width: 33.34%;
  text-align: center;
  margin: 2.0vh 0;
  padding: 0 2vh;
}

.footerHidden {
  opacity: 0;
}

#openInfoBigScreen {
  display: block;
  border-left:  1px solid white;
  border-right:  1px solid white;
}

#openInfoSmallScreen {
  display: none;
  border-left:  1px solid white;
  border-right:  1px solid white;
}

footer h4 {
  width: 100%;
  padding-bottom: 1vh;
}

.openInfoContainer li {
  line-height: 2.5vh;
}

.openInfoContainer h5 {
  padding-bottom: 1rem;
}

.listTimes {
  color: rgba(230, 230, 255, 0.8);
}

.hidden {
  animation: 1s Hidden;
  opacity: 0;
}

.visible {
  animation: 1s Visible;
  opacity: 1;
}

#footerMap {
  height: 25vh;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

#footerMap iframe {
  height: 100%;
  width: 100%;
  border: 0; 
  position: relative; 
  top: -50px;
}

#small {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5vh;
  text-align: center;
  font-size: calc(0.3vw + 1vmin);
}

@keyframes heightUp {
  from {
    height: 12vh;
  }

  to {
    height: 31vh;
  }
}

@keyframes heightDown {
  from {
    height: 31vh;
  }

  to {
    height: 12vh;
  }
}

@keyframes Visible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes Hidden {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* --------------------------------FOOTER-------------------------------- */

/* --------------------------------YLEISET-------------------------------- */

#root {
  position: relative;
  max-height: 100vh;
}

hr {
  border-color: white;
}

.subHeader {
  margin: auto;
  padding: 0 0 1vh 0;
  width: 50%;
  background-color: rgba(0, 0, 158, 0.8);
  border-radius: 50% 50% 40% 40% / 0% 0% 100% 100%;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 158, 0.3);
}

.subNav {
  display: flex;
  justify-content: center;
  margin: 2vh auto;
  padding: 0.7em 0;
  width: fit-content;
  background-color: rgba(0, 0, 158, 0.5);
  border-radius: 100px;
}

.subDropdown {
  margin: 2vh auto;
  background-color: rgba(0, 0, 158, 0.5);
  border-radius: 100px;
  border: none;
  color: white;
  padding: 0.7vh 1.1vh;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  outline: none;
  display: none;
}

.subDropdown option {
  color: white;
  padding: 0.5vh 1vh;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  outline: none;
}

.lowerSubHeader {
  text-align: center;
}

.subNav button {
  width: fit-content;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 0 1em;
}

.leftSubLink {
  border-right: 1px solid white;
}

.middleSubLink {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.rightSubLink {
  border-left: 1px solid white;
}

.subNav button:hover {
  animation: 0.5s colorChange;
  color: rgba(100, 100, 245, 0.8);;
}

address {
  width: 100%;
  line-height: 2.7vh;
}

@keyframes colorChange {
  from {
    color: white;
  }

  to {
    color: rgba(100, 100, 245, 0.8);
  }
}

/* --------------------------------YLEISET-------------------------------- */

/* --------------------------------RESPONSIIVISUUS-------------------------------- */

@media only screen and (max-width: 1700px) {
  #openInfoBigScreen {
    display: none;
  }
  
  #openInfoSmallScreen {
    display: block;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: calc(0.3em + 1vmin);
  }
}

@media only screen and (max-width: 990px) {
  nav {
    height: fit-content;
    text-align: center;
  }

  .subHeader {
    display: none;
  }

/* ----------------------FOOTER---------------------- */

  .App, #root {
    overflow: auto;
    min-height: 100vh;
  }

  footer {
    height: 31vh;
    position: relative;
    border-radius: 50% 50% 0% 0% / 10% 10% 0% 0%;
  }

  .largeFooter {
    animation: none;
  }
  
  .smallFooter {
    animation: none;
  }

  /* ----------------------FOOTER---------------------- */
}

@media only screen and (max-width: 600px) {
  .storyContainer, nav {
    font-size: calc(1.3em + 1vmin);
  }

  .subNav {
    display: none;
  }

  .subDropdown {
    display: block;
    font-size: calc(1em + 1vmin);
  }

  #companyLower {
    width: 70%;
  }

  #logoLink {
    width: 30vw;
  }
}

/* --------------------------------RESPONSIIVISUUS-------------------------------- */