/*#region*/
/* --------------------------------RESET-------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  vertical-align: baseline;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  overflow: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------RESET-------------------------------- */
/*#endregion*/
/* --------------------------------APP-------------------------------- */

.App {
  height: 100vh;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  background-image: url(../src/Images/back.jpg);
  background-size: cover;
}

/* --------------------------------APP-------------------------------- */

/* --------------------------------HEADER-------------------------------- */

#mainHeader {
  height: 10vh;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 158, 0.8);
}

header img {
  box-shadow: 0px 0px 15px 12px rgba(0, 0, 158, 0.8);
}

#facebook {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 3.5rem;
  color: white;
  margin: 1.5rem;
}

.fab:hover {
  animation: 0.5s colorChange;
  color: rgba(100, 100, 245, 0.8);
}

#logoLink {
  align-self: center;
  width: 20%;
  box-shadow: 0px 0px 15px 12px rgba(0, 0, 158, 0.8);
}

nav {
  height: 5vh;
  background-color: rgba(0, 0, 158, 0.8);
  border-radius: 50% 50% 25% 25% / 0% 0% 25% 25%;
}

nav a {
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav a:hover {
  animation: 0.5s colorChange;
  color: rgba(100, 100, 245, 0.8);
}

/* --------------------------------HEADER-------------------------------- */

/* --------------------------------ETUSIVU-------------------------------- */

#mainpage {
  text-align: center;
  overflow: auto;
  height: 73vh;
}

#mainpageUpper, #mainpageLower {
  height: 50%;
}

.carousel, .carousel-inner, .carousel-item {
  height: 100%;
}

.carousel img {
  height: 100%;
  margin: auto;
}

.mainpageHeader {
  height: 20%;
  display: flex;
  justify-content: center;
}

.mainpageHeader h1 {
  align-self: center;
}

.boxLinks {
  height: 80%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
}

.box {
  height: 200px;
  width: 200px;
  border: black 2px solid;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 100px;
  animation: 1s 1 toCircle;
}

.box:hover {
  animation: 1s 1 toBox;
  animation-fill-mode: forwards;
}

.box span {
  align-self: center;
  color: white;
}

@keyframes toBox {
  from {
    border-radius: 100px;
  }

  to {
    border-radius: 10px;
  }
}

@keyframes toCircle {
  from {
    border-radius: 10px;
  }

  to {
    border-radius: 100px;
  }
}

/* --------------------------------ETUSIVU-------------------------------- */

/* --------------------------------YRITYS-------------------------------- */

#company {
  text-align: center;
  overflow: auto;
  height: 75vh;
  
}

/* --------------------------------YRITYS-------------------------------- */

/* --------------------------------KAHVILA_RAVINTOLA-------------------------------- */

#coffeeRestaurant {
  text-align: center;
  overflow: auto;
  height: 75vh;
}

/* --------------------------------KAHVILA_RAVINTOLA-------------------------------- */

/* --------------------------------HUOLTAMO-------------------------------- */

#service {
  text-align: center;
  overflow: auto;
  height: 75vh;
}



/* --------------------------------HUOLTAMO-------------------------------- */

/* --------------------------------PALAUTE-------------------------------- */

#contact {
  text-align: center;
  overflow: auto;
  height: 75vh;
}

#contactLower {
  margin: 20px auto;
}

/* --------------------------------PALAUTE-------------------------------- */

/* --------------------------------FOOTER-------------------------------- */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12vh;
  background-color: rgba(0, 0, 158, 0.8);
  border-radius: 50% 50% 0% 0% / 25% 25% 0% 0%;
}

#footerWrapper {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
}

.largeFooter {
  animation: 1s heightUp;
  height: 30vh;
}

.smallFooter {
  animation: 1s heightDown;
  height: 12vh;
}

footer section {
  width: 33.34%;
  text-align: center;
  margin: 1.5rem 0;
  padding: 0 1.0rem;
}

.footerHidden {
  opacity: 0;
}

#openInfo {
  border-left:  1px solid white;
  border-right:  1px solid white;
}

footer h4 {
  width: 100%;
  padding-bottom: 1rem;
}

footer address {
  width: 100%;
  line-height: 1.7rem;
}

.openInfoContainer li {
  line-height: 1.6rem;
}

.openInfoContainer h5 {
  padding-bottom: 1rem;
}

.listDays {
  color: rgba(230, 230, 255, 0.8);
}

.hidden {
  animation: 1s Hidden;
  opacity: 0;
}

.visible {
  animation: 1s Visible;
  opacity: 1;
}

@keyframes heightUp {
  from {
    height: 12vh;
  }

  to {
    height: 30vh;
  }
}

@keyframes heightDown {
  from {
    height: 30vh;
  }

  to {
    height: 12vh;
  }
}

@keyframes Visible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes Hidden {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* --------------------------------FOOTER-------------------------------- */

/* --------------------------------YLEISET-------------------------------- */

#root {
  position: relative;
  max-height: 100vh;
}

.subHeader {
  margin: auto;
  padding: 0 0 10px 0;
  width: 50%;
  background-color: rgba(0, 0, 158, 0.8);
  border-radius: 50% 50% 40% 40% / 0% 0% 100% 100%;
}

.subNav {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  width: 30%;
  background-color: rgba(0, 0, 158, 0.5);
  border-radius: 100px;
}

.subNav button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 10px;
}

.subNav button:hover {
  animation: 0.5s colorChange;
  color: rgba(100, 100, 245, 0.8);;
}

@keyframes colorChange {
  from {
    color: white;
  }

  to {
    color: rgba(100, 100, 245, 0.8);
  }
}

/* --------------------------------YLEISET-------------------------------- */